# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cbp
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/TargetDirectories.txt
*.marks
*.make
cmake-build-debug/CMakeFiles/mtm_ex5_world_of_homework.dir/link.txt
*.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/feature_tests.c
*.bin
cmake-build-debug/CMakeFiles/CMakeOutput.log
*.check_cache
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/3.5.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.5.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeCache.txt
*.xml
*.iml
